### Импортируйте библиотеку pandas как pd. 
Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\arkhi\Jupyter notebook\data\bookings.csv', encoding='windows-1251', sep=';')

In [4]:
df.shape

(119390, 21)

In [5]:
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [9]:
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

### Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [10]:
df.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [11]:
'Arrival Date Year'.lower() #метод, чтобы все буквы сделать нижнего регистра

'arrival date year'

In [13]:
'Arrival Date Year'.replace(' ','_') #метод, для замены символов

'Arrival_Date_Year'

In [15]:
def to_lower_underscore(name):   #применяем оба метода, чтобы не переименовывать каждый столбец в ручную
    name = name.lower().replace(' ','_')
    return name

In [18]:
df = df.rename(columns = to_lower_underscore)

### Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [41]:
df.query('is_canceled == 0') \
    .country \
    .value_counts() \ #как count в sql
    .head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

### На сколько ночей в среднем бронируют отели разных типов?

In [50]:
df \
    .groupby('hotel') \
    .aggregate({'stays_total_nights':'mean'}) \
    .round(2) #округление

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

### Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [58]:
df.query('assigned_room_type != reserved_room_type').shape[0]

14917

### Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [73]:
df.query('arrival_date_year == 2016 and is_canceled == 0') \
    .arrival_date_month \
    .value_counts() \
    .head(1)

October    3689
Name: arrival_date_month, dtype: int64

In [75]:
df.query('arrival_date_year == 2017 and is_canceled == 0') \
    .arrival_date_month \
    .value_counts() \
    .head(1)

May    3551
Name: arrival_date_month, dtype: int64

In [92]:
(
    df
    .query("hotel == 'City Hotel' and is_canceled == 1")
    .groupby('arrival_date_year')
    .arrival_date_month
    .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

### Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [100]:
df[['adults', 'children' ,'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

### Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [102]:
df['total_kids'] = df.children + df.babies
df['total_kids']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: total_kids, Length: 119390, dtype: float64

In [116]:
(
    df
    .groupby('hotel')
    .total_kids
    .mean()
    .round(2)
)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [135]:
df['has_kids'] = df.total_kids > 0 
df.has_kids

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [141]:
no_kids_churn = df.query('has_kids == 0 and is_canceled == 1').shape[0] / df.query('has_kids == 0').shape[0] 
no_kids_churn = round(no_kids_churn * 100, 2)
no_kids_churn

37.22

In [142]:
yes_kids_churn = df.query('has_kids == 1 and is_canceled == 1').shape[0] / df.query('has_kids == 1').shape[0] 
yes_kids_churn = round(no_kids_churn * 100, 2)
yes_kids_churn

34.92

# That's all!!